<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Registration Idea MS</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link th:href="@{/css/home_nav.css}" rel="stylesheet" />
	</head>
	<body>
		<div class="container text-center">
			<div>
			<br>
				<h3> Idea Edit</h3>
			</div>
			<br>
			<form th:action="@{/ideas/save}" method="post" style="width:800px; margin: 0 auto;">
			
<!-- 			// pass the id so as not to create a new field -->
			<input type="hidden" th:value="${idea.idea_id}" name="idea_id"/> 
				<div class="m-3">
					<div class="form-group row">
						<label class="col-form-label col-4">Idea Title</label>
						<div class="col-8">
							<input type="text" class="form-control" th:value="${idea.idea_title}" name="idea_title"/>
						</div>
					</div>
					<div class="form-group row">
					
						<label class="col-form-label col-4">Description</label>
						<div class="col-8">
							<input type="text" class="form-control" th:value="${idea.idea_description}" name="idea_description" required/>
						</div>
					</div>
<!-- 					<div class="form-group row">			  -->
<!-- 						<label class="col-form-label col-4">Add Note</label> -->
<!-- 						<div class="col-8"> -->
<!-- 							<textarea rows="5" cols="35" class="form-control" th:value="*{note.note_content}" name="note_content" ></textarea> -->
<!-- 						</div> -->
<!--  					</div>	 -->
					
<!-- 					<div> -->
<!-- 						<input class="form-btn" type="button" value="Add Note"/> -->
<!-- 						<div class="hidden-form form-group row">			 -->
<!-- 							<label class="col-form-label col-4">Add Note</label> -->
<!-- 							<div class="col-8"> -->
<!-- 								<textarea rows="5" cols="35" class="form-control" th:value="${note.note_content}" name="note_content" ></textarea> -->
<!-- 							</div> -->
<!-- 						</div>	 -->
<!-- 					</div> -->
					<div>
						<button type="submit" class="btn btn-primary">Update Idea</button>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript">
			$('.form-btn').click(function(){
				$(this).next().toggleClass('show-form');
				});
		</script>
	</body>
</html>