<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="ISO-8859-1">
		<title>Registration Idea MS</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
		<link th:href="@{/css/form.css}" rel="stylesheet" />
		
	</head>
	<body>
		<div class="container text-center">
			<br>
			<br>
			<div>
				<h3> Idea Submission</h3>
			</div>
			<br>
			<form th:action="@{/process_add_idea}" method="post" 
			style="max-width:600px; margin: 0 auto;" th:object="${idea}">
				<div class="m-3">
					<div class="form-group row">
						<label class="col-form-label col-4">Idea Title</label>
						<div class="col-8">
							<input type="text" class="form-control" th:field="*{idea_title}" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Idea Category</label>
						<div class="col-8">
							<select th:field="*{category_id}" class="form-control">
								<option th:each="category : ${categoryList}" th:value="${category.category_id}"  th:text="${category.category_name}"/>
							</select>
						</div>
					</div>
					<div class="form-group row">
					
						<label class="col-form-label col-4">Idea Description</label>
						<div class="col-8">
							<textarea rows="5" cols="35" class="form-control" th:field="*{idea_description}"></textarea>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>