<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Idea MS</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<link th:href="@{/css/home_nav.css}" rel="stylesheet" />
<script src="/js/home_nav.js"></script>

</head>
<body>
	<div class="container text-center" id="top_header">
		<!--  <div id="logo_left">
				<a href="#default" id="logo">CompanyLogo</a>
			</div>-->
		<a href="#"><i class="fa-fa-user"></i></a>
		<div>
			<h1>Welcome to Idea MS</h1>
		</div>
		<div id="navbar">
			<div id="navbar-left">

				<a th:href="@{/list_users}">View Users</a> <a class="active"
					th:href="@{/list_ideas}">View Ideas</a>
			</div>

			<div id="navbar-right">
				<a th:href="@{/register}">Register</a> <a th:href="@{/login}">Login</a>
			</div>
		</div>
	</div>

</body>
</html>