<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Idea MS</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
<link th:href="@{/css/home_nav.css}" rel="stylesheet" />
</head>
<body>
	<div class="container-fluid padding">
				<div class="container-fluid padding">
					<div class="row welcome text-center">
						<div class="col-12">
							<h1 class="display-4">Gender</h1>
						</div>
					</div>
				</div>
				
				<div>
				<h6><a th:href="@{/}">Back</a></h6>
				</div>
				<br>
				
				<a th:href="@{/add_gender}" class="container-fluid padding">
					<button type="button" class="btn btn-primary" style="margin:5px;">
				    	Add Gender
					</button>
				</a>
				<div class="container-fluid padding">
					<table class="table table-striped table-bordered">
						<thead class="thead-dark">
							<tr>
								<th>Gender ID</th>
								<th>Gender Name</th>
								<th>Gender Description</th>
								<th sec:authorize="hasAnyAuthority('ADMIN')">Creation Date</th>
								<th sec:authorize="hasAnyAuthority('ADMIN')">Created By</th>
								<th sec:authorize="hasAnyAuthority('ADMIN')">Modified Date</th>
								<th sec:authorize="hasAnyAuthority('ADMIN')">Modified By</th>
								<th sec:authorize="isAuthenticated()">Action</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="gender: ${listGender}">
								<td th:text="${gender.gender_id}">Gender ID</td>
								<td th:text="${gender.gender_name}">Gender Name</td>
								<td th:text="${gender.gender_description}">Gender Description</td>
								<td th:text="${gender.create_date}" sec:authorize="hasAnyAuthority('ADMIN')">Creation Date</td>
								<td th:text="${gender.created_by_global_user_id}" sec:authorize="hasAnyAuthority('ADMIN')">Created By</td>
								<td th:text="${gender.modified_date}" sec:authorize="hasAnyAuthority('ADMIN')">Modified Date</td>
								<td th:text="${gender.modified_by_global_user_id}" sec:authorize="hasAnyAuthority('ADMIN')">Modified By</td>
								<td>
									<a th:href="@{'/gender/edit/' + ${gender.gender_id}}">Edit</a>
									&nbsp;&nbsp;&nbsp;
									<div sec:authorize="hasAnyAuthority('ADMIN')">
										<a th:href="@{'/gender/delete/' + ${gender.gender_id}}">Delete</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
<!-- 				<div> -->
<!-- 					Total Ideas: [[${totalIdeas}]]	-	Page [[${currentPage}]] of [[${totalPages}]]- -->
<!-- 					&nbsp;&nbsp; -->
<!-- 					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> -->
<!-- 						<a th:if="${i != currentPage}" th:href="@{'/page/' +${i}}">[[${i}]]</a> &nbsp;&nbsp; -->
<!-- 						<span th:unless="${i != currentPage}">[[${i}]]</span> -->
<!-- 					</span> -->
<!-- 				</div> -->
		</div>
</body>
</html>