<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="ISO-8859-1">
		<title>Idea MS</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
		<link th:href="@{/css/home_nav.css}" rel="stylesheet" />
		<script type="text/javascript" th:src="@{/js/settings.js}"></script>
		
	</head>
	<body>
	<!-- navbar -->
		<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}">
					<img alt="logo image" src="/images/logo.png" height="100" width="100">
					<span class="blog-name">Idea Ms</span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="dropdown" sec:authorize="hasAnyAuthority('ADMIN')">
				  <span th:onclick="myFunction()" class="nav-link dropbtn">Settings<i class="fa fa-caret-down"></i></span>
				  <div id="myDropdown" class="dropdown-content">
				    <a th:href="@{/list_gender}">Gender</a>
				    <a th:href="@{/list_role}">Roles</a>
				    <a th:href="@{/list_prefix}">Prefix</a> 
				    <a th:href="@{/list_category}">Category</a>
				  </div>
				</div>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link active" th:href="@{/}">Home</a>
						</li>
						<li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
							<a class="nav-link" th:href="@{/list_ideas}">View Ideas</a>
						</li>
						<li class="nav-item" sec:authorize="!isAuthenticated()">
							<a class="nav-link" th:href="@{/register}">Register</a>
						</li>
						<li class="nav-item" sec:authorize="!isAuthenticated()">
							<a class="nav-link" th:href="@{/login}">Login</a>
						</li>
						<li class="nav-item" sec:authorize="isAuthenticated()">
							<a class="nav-link"><b>[[${#request.userPrincipal.principal.fullName}]]</b></a>
						</li>
						<li class="nav-item" sec:authorize="isAuthenticated()">
							<a class="nav-link" th:href="@{/logout}">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- my welcome section -->
		
		<div class="container-fluid padding">
			<div class="row welcome text-center">
				<div class="col-12">
					<h1 class="display-4">Registered Users</h1>
				</div>
			</div>
		</div>
		<div class="container-fluid padding">
			<div class="search_div ">
				<form th:action="@{/list_users}">
					
					<input type="text" name="keyword" th:value="${keyword}"/>
					&nbsp;
					<input type="submit" value="Search"/>
					&nbsp;
					<input type="button" value="Clear" onclick="clearSearch()"/>
				</form>
			</div>
			<br>
			<br>
			<a th:href="@{/register}" class="container-fluid padding" sec:authorize="isAuthenticated()">
				<button type="button" class="btn btn-primary" style="margin:5px;">
			    	Create New User
				</button>
			</a>
			</div>
		<div class="container-fluid padding">

			<div class="container-fluid padding">
				<table class="table table-striped table-bordered">
					<thead class="table-dark">
						<tr>
							<th>Prefix</th>
							<th>First name</th>
							<th>Last name</th>
							<th>Primary Email</th>
							<th>Roles</th>
<!-- 							<th sec:authorize="hasAnyAuthority('ADMIN')">Creation Date</th> -->
<!-- 							<th sec:authorize="hasAnyAuthority('ADMIN')">Created By</th> -->
<!-- 							<th sec:authorize="hasAnyAuthority('ADMIN')">Modified Date</th> -->
<!-- 							<th sec:authorize="hasAnyAuthority('ADMIN')">Modified By</th> -->
							<th sec:authorize="isAuthenticated()">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user: ${listUsers}">
							<td th:text="${user.userPrefixMapping.prefix_name}">First Name</td>
							<td th:text="${user.first_name}">First Name</td>
							<td th:text="${user.last_name}">Last Name</td>
							<td th:text="${user.primary_email}">Primary Email</td>
							<td th:text="${user.roles}">Roles</td>
<!-- 							<td th:text="${user.create_date}" sec:authorize="hasAnyAuthority('ADMIN')">Creation Date</td> -->
<!-- 							<td th:text="${user.created_by_global_user_id}" sec:authorize="hasAnyAuthority('ADMIN')">Created By</td> -->
<!-- 							<td th:text="${user.modified_date}" sec:authorize="hasAnyAuthority('ADMIN')">Modified Date</td> -->
<!-- 							<td th:text="${user.modified_by_global_user_id}" sec:authorize="hasAnyAuthority('ADMIN')">Modified By</td> -->
							<td>
							<div sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
								<a th:href="@{'/roles/edit/' + ${user.global_user_id}}">Update</a>
							</div>
							<div sec:authorize="hasAnyAuthority('ADMIN')">
								<a th:href="@{'/user/delete/' + ${user.global_user_id}}">Delete</a>
							</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container-fluid padding">
				Total Ideas: [[${totalUsers}]]&nbsp;&nbsp; - &nbsp;&nbsp; Page [[${currentPage}]] of [[${totalPages}]] &nbsp;&nbsp; -
				&nbsp;&nbsp;
				<span th:each="i: ${#numbers.sequence(1, totalPages)}">
					<a th:if="${i != currentPage}" th:href="@{'/pages/' +${i}}">[[${i}]]</a>
					<span th:unless="${i != currentPage}">[[${i}]]</span>
				</span>
			</div>
			
			<!-- my footer -->
		<div class="footer">
			<hr class="light">
			<h5>&copy; flyhubug.com</h5>
		</div>
		<script type="text/javascript">
			function clearSearch(){
				window.location='/list_users';
				}
		</script>
	</body>
</html>