<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Idea MS</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
		
	</head>
	<body>
		<div class="container text-center">
			<br>
			<br>
			<div>
				<h3> Update User Roles</h3>
			</div>
			<br>
			<form th:action="@{/roles/save}" method="post" 
			style="max-width:600px; margin: 0 auto;" th:object="${user}">
			<input type="hidden" th:field="*{global_user_id}"/>
				<div class="m-3">
<!-- 					<div class="form-group row"> -->
<!-- 					  	<label class="col-form-label col-4">Prefix</label> -->
<!-- 					  	<div class="col-8"> -->
					  		
<!-- 					  		<select th:field="*{prefix_id}" class="form-control"> -->
<!-- 								<option th:each="prefix : ${prefixList}" th:value="${prefix.prefix_id}"  th:text="${prefix.prefix_name}"/> -->
<!-- 							</select> -->
<!-- 					  	</div> -->
<!-- 				  	</div> -->
<!-- 					<div class="form-group row"> -->
<!-- 						<label class="col-form-label col-4">First Name</label> -->
<!-- 						<div class="col-8"> -->
<!-- 							<input type="text" class="form-control" th:field="*{first_name}" /> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="form-group row"> -->
<!-- 						<label class="col-form-label col-4">Last Name</label> -->
<!-- 						<div class="col-8"> -->
<!-- 							<input type="text" class="form-control" th:field="*{last_name}" /> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="form-group row"> -->
<!-- 					  	<label class="col-form-label col-4">Gender</label> -->
<!-- 					  	<div class="col-8"> -->
					  		
<!-- 					  		<select th:field="*{gender_id}" class="form-control"> -->
<!-- 								<option th:each="gender : ${genderList}" th:value="${gender.gender_id}"  th:text="${gender.gender_name}"/> -->
<!-- 							</select> -->
<!-- 					  	</div> -->
<!-- 					  </div> -->
<!-- 					<div class="form-group row"> -->
					
<!-- 						<label class="col-form-label col-4">Email</label> -->
<!-- 						<div class="col-8"> -->
<!-- 							<input type="email" class="form-control" th:field="*{primary_email}"  required/> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="form-group row"> -->
<!-- 						<label class="col-form-label col-4">Password</label> -->
<!-- 						<div class="col-8"> -->
<!-- 							<input type="password" class="form-control" th:field="*{password}" required/>   -->
<!-- 						</div> -->
<!-- 					</div> -->
					<div class="form-group row">
						<label class="col-form-label col-4">Roles</label>
						<div class="col-8">
							<th:block th:each="role : ${listRoles}">
								<input type="checkbox" th:field="*{roles}"  
								th:value="${role.serial_id}" th:text="${role.role_name}" class="m-2"/>  
							</th:block>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Update Role</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>