<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Registration Idea MS</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link th:href="@{/css/home_nav.css}" rel="stylesheet" />
	</head>
	<body>
		<div class="container text-center">
			<div>
			<br>
				<h3>View Idea</h3>
			</div>
			<br>
			<form th:action="@{/add/comment}" method="post" style="width:800px; margin: 0 auto;"><!-- change the action to the one for saving a comment -->
			
<!-- 			// pass the id so as not to create a new field -->
			<input type="hidden" th:value="${idea.idea_id}" name="idea_id"/> 
				<div class="m-3">
					<div class="form-group row">
						<label class="col-form-label col-4">Idea Title</label>
						<div class="col-8">
							<input type="text" readonly class="form-control" th:value="${idea.idea_title}" name="idea_title"/>
						</div>
					</div>
					<div class="form-group row">
					
						<label class="col-form-label col-4">Description</label>
						<div class="col-8">
							<input type="text" readonly class="form-control" th:value="${idea.idea_description}" name="idea_description" required/>
						</div>
					</div>
<!-- 					<div class="form-group row">			  -->
<!-- 						<label class="col-form-label col-4">Add Note</label> -->
<!-- 						<div class="col-8"> -->
<!-- 							<textarea rows="5" cols="35" class="form-control" th:value="*{note.note_content}" name="note_content" ></textarea> -->
<!-- 						</div> -->
<!--  					</div>	 -->
					
					<div class="form-group row">
					
<!-- 						<label class="col-form-label col-4">Comments</label> -->
<!-- 						<div class="col-8"> -->
<!-- 							<th:block th:each="comment : ${comments}"> -->
<!-- 								<p th:text="${comment.content}">comment</p> -->
<!-- 							</th:block> -->
<!-- 							<input type="text" readonly class="form-control" th:value="${idea.idea_description}" name="idea_description" required/> -->
<!-- 						</div> -->
					<div class="center-align"> 
				        <div class="row">
					  			<div class="column image">
<!--  					  				<img src="/images/logo.png" alt="Flowers in Chania"> -->
					        		<i class="fa fa-image fa-5x fa-pull-left"></i>
					  			</div>
								<div class="column text" style="margin-left:-100px;">
									<th:block th:each="note : ${idea.ideaToNote}">
<!-- 										<h6 th:text="${note.userNoteMapping.first_name}"></h6> -->
				            		  <p th:text="${note.note_content}"></p>
									</th:block>
									  
								      Written by <span> Ndagire Jesca</span>
								 </div>
				       </div>
   					</div>
		
					
					</div>
					
					<div  sec:authorize="isAuthenticated()">
						<input class="form-btn" type="button" value="Comment"/>
						<div class="hidden-form form-group row">			
							<label class="col-form-label col-4">Add Comment</label>
							<div class="col-8">
								<textarea rows="5" cols="35" class="form-control" th:value="${note.note_content}" name="note_content" ></textarea>
							</div>
							<div>
								<button type="submit" class="btn btn-primary form-btn">Add Comment</button>
							</div>
						</div>	
					</div>
					
				</div>
			</form>
		</div>
		<script type="text/javascript">
			$('.form-btn').click(function(){
				$(this).next().toggleClass('show-form');
				});
		</script>
	</body>
</html>