<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Idea MS</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
		<link th:href="@{/css/home_nav.css}" rel="stylesheet" />
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-fixed-top" >
		<div class = "container">
			<div class="navbar-header">
<!-- 				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> -->
<!-- 				    <span class="sr-only">Toggle navigation</span> -->
<!-- 				    <span class="icon-bar"></span> -->
<!-- 				    <span class="icon-bar"></span> -->
<!-- 				    <span class="icon-bar"></span> -->
<!-- 				</button> -->
				<div id="logo" class="tim-logo">
					<a class="navbar-brand" th:href="@{/}">
						<img src="https://creativetimblog.com/blog/wp-content/uploads/2015/01/cropped-tim_vector.png" height="100" width="100" alt="Creative Tim&#039;s Blog"/>
						<span class="blog-name">Idea Ms</span>
					</a>
					<a class="navbar-brand" th:href="@{/}">
						<span class="navbar-type-blog">Home</span>
					</a>
					<ul class="nav navbar-nav">
						<li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Settings
					        </a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					          <a class="dropdown-item" href="#">Action</a>
					          <a class="dropdown-item" href="#">Another action</a>
					          <div class="dropdown-divider"></div>
					          <a class="dropdown-item" href="#">Something else here</a>
 			        		</div>
		 			      </li>
					</ul>
					
				</div><!-- end of #logo -->
			</div>	<!-- end of navbar-header -->
<!-- 			<div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
<!-- 			    <ul class="navbar-nav mr-auto"> -->
<!-- 			      <li class="nav-item active"> -->
<!-- 			        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
<!-- 			      </li> -->
<!-- 			      <li class="nav-item"> -->
<!-- 			        <a class="nav-link" href="#">Link</a> -->
<!-- 			      </li> -->
<!-- 			      <li class="nav-item dropdown"> -->
<!-- 			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
<!-- 			          Dropdown -->
<!-- 			        </a> -->
<!-- 			        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
<!-- 			          <a class="dropdown-item" href="#">Action</a> -->
<!-- 			          <a class="dropdown-item" href="#">Another action</a> -->
<!-- 			          <div class="dropdown-divider"></div> -->
<!-- 			          <a class="dropdown-item" href="#">Something else here</a> -->
<!-- 			        </div> -->
<!-- 			      </li> -->
<!-- 			      <li class="nav-item"> -->
<!-- 			        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
<!-- 			      </li> -->
<!-- 			    </ul> -->
<!-- 			    <form class="form-inline my-2 my-lg-0"> -->
<!-- 			      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
<!-- 			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
<!-- 			    </form> -->
<!--   </div> -->
			<div class="collapse navbar-collapse navbar-ex1-collapse " id="nav_links_div">
				<ul class="nav navbar-nav">
					<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1853">
						<a class="nav-link" title="Home" th:href="@{/list_ideas}">View Ideas</a>
					</li>
					<li id="menu-item-1863" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1863">
						<a class="nav-link" title="Marketplace" th:href="@{/list_users}">View Users</a>
					</li>
					<li id="menu-item-1853" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1853">
						<a class="nav-link" title="Home" th:href="@{/register}">Register</a>
					</li>
					<li id="menu-item-1863" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1863">
						<a class="nav-link" title="Marketplace" th:href="@{/login}">Login</a>
					</li>
				</ul>
		</div>
	</nav>
	
	</body>
	
</html>